<!DOCTYPE html>
<html @*lang="en"*@>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--
    Victory HTML CSS Template
    https://templatemo.com/tm-507-victory
    -->
    <title>Victory HTML CSS Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - C_Computing_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/C_Computing_Project.styles.css" asp-append-version="true" />*@
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/css/fontAwesome.css">
    <link rel="stylesheet" href="~/css/hero-slider.css">
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <link rel="stylesheet" href="~/css/templatemo-style.css">

    <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <script src="~/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
    <header>
        <div class="header">
            <div class="container">
                <a href="#" class="navbar-brand scroll-top">Victory</a>
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!--/.navbar-header-->
                    <div id="main-nav" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="~/index.html">Home</a></li>
                            <li><a href="~/menu.html">Our Recipes</a></li>
                            <li><a href="~/blog.html">Blog Entries</a></li>
                            <li><a href="~/contact.html">Contact Us</a></li>
                            <li><a href="../Recipes/Create">ADD</a></li>
                           
                        </ul>
                    </div>
                    <!--/.navbar-collapse-->
                </nav>
                <!--/.navbar-->
            </div>
            <!--/.container-->
        </div>
        <!--/.header-->
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">C_Computing_Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    </header>

    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h4>Here you can find delecious recipes for a</h4>
                    <h2>Variety Of Foods</h2>
                    <p>The recipes at your service. You are invited to click new recipes and write us what you think about the recipes.</p>
                    <div class="primary-button">
                        <a href="../Views/Recipes/Create.cshtml">Add Right Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<section class="cook-delecious">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="first-image">
                        <img src="~/img/cook_01.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cook-content">
                        <h4>Please Choose</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="second-image">
                        <img src="~/img/cook_02.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="../Views/Recipes/IndexSalad">
                            <img src="https://media.istockphoto.com/photos/homemade-autumn-apple-walnut-spinach-salad-picture-id598567798?k=20&m=598567798&s=612x612&w=0&h=1L3VM0tAPpAlUa6OM5NMACGmleEygIdI2sficMyuAOc=" alt="Salads">
                            <h4>Salads</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="../Views/Recipes/IndexFish.cshtml">
                            <img src="https://media.istockphoto.com/photos/fillet-of-salmon-with-vegetable-picture-id175028181?k=20&m=175028181&s=612x612&w=0&h=18QGgb9V2Mxcf3MG1AHL53XtIWLFsbWWPmRb5ngAhIs=" alt="Fish">
                            <h4>Fish</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="../Views/Recipes/IndexBread.cshtml">
                            <img src="https://media.istockphoto.com/photos/loaf-of-bread-still-life-picture-id947886300?k=20&m=947886300&s=612x612&w=0&h=KboPTpxXhTTc8PHsdsMiBj6Z6yRqmXn9Esr2Hf7n1I0=" alt="Breads">
                            <h4>Breads</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="../Views/Recipes/IndexDessert.cshtml">
                            <img src="https://media.istockphoto.com/photos/vanilla-new-york-cheesecake-decorated-with-fresh-berries-picture-id1356624996?k=20&m=1356624996&s=612x612&w=0&h=AB2U-klxtuZyuiYUfVxo8V_OAHzdTaoblNc3Hjy6OrU=" alt="Desserts">
                            <h4>Desserts</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - C_Computing_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
